*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;

	tab-size: 4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
